# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# Environment variables
.env
.env.*

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*.bak

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Outros arquivos temporários
*.tmp
*.temp

# Frontend
/frontend/node_modules/
/frontend/dist/

